{% extends "base.html" %}

{% block content %}

<div style="margin: 100px auto; max-width: 600px;">
    <div style="text-align: center;">
        <div style="margin-top: 50px;">
            <h2>My Profile</h2>
            <form method="post" style="margin-top: 20px;">
                {% csrf_token %}
                <div style="margin-bottom: 20px;">
                    <label for="full-name" style="display: block; margin-bottom: 5px;">Full Name:</label>
                    <input type="text" id="full-name" name="full-name" value="{{ customer.customer_name }}" style="width: 100%; padding: 10px;">
                </div>
                <div style="margin-bottom: 20px;">
                    <label for="your-email" style="display: block; margin-bottom: 5px;">Email:</label>
                    <input type="email" id="your-email" name="your-email" value="{{ customer.email }}" style="width: 100%; padding: 10px;">
                </div>
                <div style="margin-bottom: 20px;">
                    <label for="phone-number" style="display: block; margin-bottom: 5px;">Phone Number:</label>
                    <input type="text" id="phone-number" name="phone-number" value="{{ customer.contact_number }}" style="width: 100%; padding: 10px;">
                </div>
                <div style="margin-bottom: 20px;">
                    <label for="password" style="display: block; margin-bottom: 5px;">Password:</label>
                    <input type="password" id="password" name="password" placeholder="********" style="width: 100%; padding: 10px;" disabled>
                    <small style="display: block; margin-top: 5px; font-size: 12px;">To change your password, click <a href="{% url 'change_password' %}" style="color: #007bff; text-decoration: none;">here</a>.</small>
                </div>
                <button type="submit" style="padding: 10px 20px; background-color: #000000; color: #fff; border: none; cursor: pointer;">Save Changes</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
